body { color:#333; padding:0px; margin:0px; font-family: "proxima-nova", "helvetica neue", helvetica; }

a { color: #398bce; outline: none; text-decoration:none; }
a:hover { color: #2d6ea3; }

form { padding:10px; }
input { width:100%; }

ul, li { list-style:none; padding:0px; margin:0px; }

.status { width:20px; height:20px; display: block; float: left; border-radius: 100px; margin-right:10px; }
.online { background-color:#7dc374; }
.offline { background-color:#D0D5D0; }

.button { background-color: #7dc374; color: #fff; display: block; font-size: 16px; font-weight: 400; line-height: 44px; margin: 0 auto; text-align: center; width: 145px; }
.button:hover { background-color: #6db068; color:white; }

.formline, .actions { margin-bottom:20px; }
.formline input { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border: 0; border: 2px solid #f1f1f1; display: block; font-size: 24px; padding: 15px; font-weight: 400; }
.formline input:focus { border-color: #398bce; outline:none; }

.actions input { background: #3cc05e; border: 0; color: #fff; font-size: 24px; padding: 25px 0; font-weight: 300; outline: none; }
.actions input:hover { background: #38b458; cursor:pointer; }

