<template name="containers">
    <a href="{{ pathFor route='CreateContainer' }}" class="button">Create Container</a>
    <ul class="containers">
        {{# each containers }}
            <li class="container">
                {{# if completed }}
                    {{ name }} <b>({{ _id }})</b> <a href="/destroy" class="destroy">destroy</a> 
                {{ else }} 
                    <div class="tac">
                        <img src="/loading.svg">
                    </div>
                {{/if}}
            </li>
        {{ else }}  
            <li>No container!</li>
        {{ /each }} 
    </ul>
</template>

<template name="createContainer">
    <form id="ContainerForm">
        <h1>Create Container</h1>
        <div class="formline">
            <h3>Container Name</h3>
            <input type="text" id="name" placeholder="Name your Container." class="focus">
        </div>
        {{ > applications }}
        <div class="actions">
            <input type="submit" value="Create Container">
        </div>
    </form>
</template>

<template name="applications">
    {{ ! TODO: Applications collection each. }}
    <div class="formline">
        <h3>Select Application</h3>
        <ul class="applications">
            <li>libreboard</li>
        </ul>
    </div>
</template>
