<template name="containers">
    <a href="{{ pathFor route='CreateContainer' }}" class="button">Create Container</a>
    <ul>
        {{# each containers }}
            <li>
                {{ name }} 
                {{# if completed }}
                    -- <a href="/destroy" class="destroy">destroy</a> 
                {{ else }} 
                    <img src="/loading.svg">
                {{/if}}
            </li>
        {{ else }}  
            <li>No container!</li>
        {{ /each }} 
    </ul>
</template>

<template name="createContainer">
    <form id="ContainerForm">
        <h1>Create Container</h1>
        <div class="formline">
            <input type="text" id="name" placeholder="Name your Container." class="focus">
        </div>

        <h1>Select Image</h1>
        <div class="formline">
            
        </div>
        <div class="actions">
            <input type="submit" value="Create Container">
        </div>
    </form>
</template>
